<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minima numquam nisi voluptatem ab
            voluptas accusantium, nemo veritatis tempore impedit enim libero praesentium asperiores perferendis,
            repellat, esse architecto. Culpa, facilis.
        </p>
    </header>
    <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis facilis ullam eaque ducimus
            repellendus!
            Distinctio ipsum est cupiditate alias laborum similique at, blanditiis libero dolore dignissimos sed ab
            cumque veritatis.
        </div>
    </div>
</section>

<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora minima numquam nisi voluptatem ab
            voluptas
            accusantium.
        </p>
    </div>
</section>